In [2]:
import pandas as pd
import os
import sys

In [3]:
os.getcwd()

'/home/davids/projects/tutorial-python/misc'

In [4]:
data = pd.read_csv('../data/gapminder_gdp_oceania.csv', header = None)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
1,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
2,New Zealand,10556.57566,12247.39532,13175.678,14463.91893,16046.03728,16233.7177,17632.4104,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911