# Pandas DataFrames

In [1]:
import pandas as pd

In [3]:
gdp_eur = pd.read_csv(
    'data/gapminder_gdp_europe.csv',
    index_col='country'
)
gdp_eur.iloc[0, 0]

1601.056136

In [5]:
gdp_eur.loc['Albania', 'gdpPercap_1952']

1601.056136

In [10]:
gdp_eur.loc['Albania', ['gdpPercap_1952', 'gdpPercap_2007']]

gdpPercap_1952    1601.056136
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

In [11]:
gdp_eur.loc['Albania', :]

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

In [12]:
gdp_eur.iloc[0, 0:6]

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
Name: Albania, dtype: float64

In [14]:
gdp_eur.loc[:, 'gdpPercap_1952']

country
Albania                    1601.056136
Austria                    6137.076492
Belgium                    8343.105127
Bosnia and Herzegovina      973.533195
Bulgaria                   2444.286648
Croatia                    3119.236520
Czech Republic             6876.140250
Denmark                    9692.385245
Finland                    6424.519071
France                     7029.809327
Germany                    7144.114393
Greece                     3530.690067
Hungary                    5263.673816
Iceland                    7267.688428
Ireland                    5210.280328
Italy                      4931.404155
Montenegro                 2647.585601
Netherlands                8941.571858
Norway                    10095.421720
Poland                     4029.329699
Portugal                   3068.319867
Romania                    3144.613186
Serbia                     3581.459448
Slovak Republic            5074.659104
Slovenia                   4215.041741
Spain                      3834.034742
Sweden                     8527.844662
Switzerland               14734.232750
Turkey                     1969.100980
United Kingdom             9979.508487
Name: gdpPercap_1952, dtype: float64

In [16]:
type(gdp_eur['gdpPercap_1952'])

pandas.core.series.Series

In [17]:
gdp_eur['gdpPercap_1952'].index

Index(['Albania', 'Austria', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria',
       'Croatia', 'Czech Republic', 'Denmark', 'Finland', 'France', 'Germany',
       'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Montenegro',
       'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia',
       'Slovak Republic', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
       'Turkey', 'United Kingdom'],
      dtype='object', name='country')

In [18]:
gdp_eur.index

Index(['Albania', 'Austria', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria',
       'Croatia', 'Czech Republic', 'Denmark', 'Finland', 'France', 'Germany',
       'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Montenegro',
       'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia',
       'Slovak Republic', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
       'Turkey', 'United Kingdom'],
      dtype='object', name='country')

In [22]:
s = gdp_eur.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']
s

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [23]:
s.max()

gdpPercap_1962    13450.40151
gdpPercap_1967    16361.87647
gdpPercap_1972    18965.05551
dtype: float64

In [24]:
s.min()

gdpPercap_1962    4649.593785
gdpPercap_1967    5907.850937
gdpPercap_1972    7778.414017
dtype: float64

In [25]:
s.mean()

gdpPercap_1962     8894.635868
gdpPercap_1967    10842.506571
gdpPercap_1972    13162.799194
dtype: float64

In [26]:
s.median()

gdpPercap_1962     8243.58234
gdpPercap_1967    10022.40131
gdpPercap_1972    12269.27378
dtype: float64

In [27]:
type(s)

pandas.core.frame.DataFrame

In [29]:
type(gdp_eur)

pandas.core.frame.DataFrame

## Logical index

In [30]:
s

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [32]:
idx = s > 10000
idx

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [33]:
type(idx)

pandas.core.frame.DataFrame

In [36]:
idx.iloc[:, 0]

country
Italy          False
Montenegro     False
Netherlands     True
Norway          True
Poland         False
Name: gdpPercap_1962, dtype: bool

In [37]:
s.iloc[:, 0]

country
Italy           8243.582340
Montenegro      4649.593785
Netherlands    12790.849560
Norway         13450.401510
Poland          5338.752143
Name: gdpPercap_1962, dtype: float64

In [38]:
s

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [39]:
s[idx]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

In [40]:
s[idx].describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        3.000000
mean     13120.625535    13915.843047    16676.358320
std        466.373656     3408.589070     3817.597015
min      12790.849560    10022.401310    12269.273780
25%      12955.737548    12692.826335    15532.009725
50%      13120.625535    15363.251360    18794.745670
75%      13285.513522    15862.563915    18879.900590
max      13450.401510    16361.876470    18965.055510

In [41]:
s.describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        5.000000        5.000000        5.000000
mean      8894.635868    10842.506571    13162.799194
std       4093.410673     4855.106424     5517.298708
min       4649.593785     5907.850937     7778.414017
25%       5338.752143     6557.152776     8006.506993
50%       8243.582340    10022.401310    12269.273780
75%      12790.849560    15363.251360    18794.745670
max      13450.401510    16361.876470    18965.055510

In [43]:
s[s < 5000].describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        1.000000             0.0             0.0
mean      4649.593785             NaN             NaN
std               NaN             NaN             NaN
min       4649.593785             NaN             NaN
25%       4649.593785             NaN             NaN
50%       4649.593785             NaN             NaN
75%       4649.593785             NaN             NaN
max       4649.593785             NaN             NaN

## split-apply-combine

In [49]:
mask_higher = gdp_eur > gdp_eur.mean()

In [55]:
wealth_score = mask_higher.aggregate('sum', axis=1)
wealth_score

country
Albania                    0
Austria                   12
Belgium                   12
Bosnia and Herzegovina     0
Bulgaria                   0
Croatia                    0
Czech Republic             6
Denmark                   12
Finland                   12
France                    12
Germany                   12
Greece                     4
Hungary                    0
Iceland                   12
Ireland                    4
Italy                      6
Montenegro                 0
Netherlands               12
Norway                    12
Poland                     0
Portugal                   0
Romania                    0
Serbia                     0
Slovak Republic            0
Slovenia                   4
Spain                      4
Sweden                    12
Switzerland               12
Turkey                     0
United Kingdom            12
dtype: int64

In [59]:
mean_gdp_by_weath = gdp_eur.groupby(wealth_score).mean()
mean_gdp_by_weath

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,3076.404517,3842.576566,4737.505453,5943.737399,7380.778908,8704.946536,9462.814042,9970.799951,7698.337271,8647.744800,9882.577489,12464.779827
4,4197.511720,5235.614200,6436.233830,8391.916917,11319.459994,13465.114187,14919.908505,16109.228240,16979.523305,20219.012895,25521.698802,30700.932380
6,5903.772203,7252.500075,9190.224735,10710.923100,12688.863690,14528.072685,15957.356025,17758.839110,18155.333040,20361.769350,22782.154195,25701.514105
12,8693.106463,10611.000728,12499.096183,14833.362503,17930.195262,20095.284394,21949.065163,24735.427601,26269.852997,28910.910514,32092.494934,35654.194452

In [60]:
type(mean_gdp_by_weath)

pandas.core.frame.DataFrame

In [61]:
gdp_eur.iloc[0:2, 0:2]

         gdpPercap_1952  gdpPercap_1957
country
Albania     1601.056136     1942.284244
Austria     6137.076492     8842.598030

In [62]:
gdp_eur.loc['Albania':'Belgium', 'gdpPercap_1952':'gdpPercap_1962']

         gdpPercap_1952  gdpPercap_1957  gdpPercap_1962
country
Albania     1601.056136     1942.284244     2312.888958
Austria     6137.076492     8842.598030    10750.721110
Belgium     8343.105127     9714.960623    10991.206760