In [1]:
import pandas as pd
import os
import sys

sys.path.insert(1, '..')
import functions as f

sys.path

0

['/home/davids/projects/tutorial-python/analysis',
 '..',
 '/home/davids/local/miniconda3/lib/python39.zip',
 '/home/davids/local/miniconda3/lib/python3.9',
 '/home/davids/local/miniconda3/lib/python3.9/lib-dynload',
 '',
 '/home/davids/local/miniconda3/lib/python3.9/site-packages']

In [2]:
os.getcwd()

'/home/davids/projects/tutorial-python/analysis'

In [3]:
f.my_function()

0

In [4]:
data = pd.read_csv('../data/names.txt', header = None)
data

        0
0   David
1  Victor
2   Marco
3   James